/* ======================================================
Variables
========================================================= */
$text-normal:#8d8886;
$text-light:#fff;
$bg-dark: #222;

/* ======================================================
Break points
========================================================= */
$screen-sm-min: 768px;
$screen-md-min: 992px;
$screen-lg-min: 1200px;

$screen-sm-max: 767px;
$screen-md-max: 991px;
$screen-lg-max: 1199px;

/* ======================================================
Useful variables
========================================================= */
$images-path: "/images";