@import "bootstrap";
@import "variables";



/* ======================================================
Global styles
========================================================= */

body {
    color:$text-dark;
    background:#000;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 14px;

}

@media (min-width: $screen-sm-min) {
    body {
        font-size: 22px;
    }
}
h1,
h2,
h3 {
    font-size:1.4em;
    text-transform: uppercase;
    margin:0 0 22px;
    font-weight: bold;
}
.section-title {
    color:#4d4d4d;
    font-size:1.4em;
    text-align: right;
    margin:0;
    text-transform: uppercase;
    font-weight: bold;
}

.sub-title {
    color:#4d4d4d;
    text-align: right;
    text-transform: uppercase;
    border-bottom:7px solid #eaeaea;
    font-weight: bold;
    padding-bottom:10px;
}

p {
    margin-bottom:25px;
}

.large-text {
    font-size: 122%;
    text-transform: uppercase;
}

.container-fluid {
    max-width:900px;
}

.dark-bg {
    background:$bg-dark;
}

.container-wrapper {
    background:$bg-light url(#{$images-path}/whitemetal.jpg);
    position: relative;
    z-index: 10;

    > .container-fluid {
        padding-top:35px;
        padding-bottom:30px;
    }

    &.container-wrapper--dark {
        @extend .dark-bg;
        border-top:4px solid #666;
        color:$text-light;
    }
}


.bg {
    background:#000 url(#{$images-path}/orange-space.jpg) no-repeat top;
    background-size: cover;
    position: fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
    z-index: 0;
}

::selection {
    background: $alt-color; /* WebKit/Blink Browsers */
}
::-moz-selection {
    background: $alt-color; /* Gecko Browsers */
}

@media (min-height: 500px) {

    .docked-bottom {
        position: fixed;
        bottom:0;
        left:0;
        right:0;
        display:table-cell;
        min-height:42%;
    }

}

/* ======================================================
Social sharing plugins
========================================================= */
.socialBtns {
    text-align:right;
    line-height: 1em;

    .socialBtn {
        display:inline;
        margin: 0 15px;
        line-height: 1em;
    }
}



/* ======================================================
Bootstrap overrides
========================================================= */



.img-responsive {
    width:100%;
}

/* ======================================================
Components
========================================================= */
@import "components/header";
@import "components/footer";
@import "components/forms";
@import "components/buttons";
@import "components/animations";

/* ======================================================
Specific layouts
========================================================= */

@import "layouts/home";