@import "bootstrap";
@import "variables";



/* ======================================================
Global styles
========================================================= */

body {
    color:$text-normal;
    background:#000;
    font-family: arial, sans-serif;
    font-size: 14px;

}

h1,
h2,
h3 {
    font-size:1.4em;
    text-transform: uppercase;
    margin:0 0 22px;
    font-weight: bold;
    font-family: $tall-font;
}


p {
    margin-bottom:25px;
}

ul {
    margin:0 0 30px;
}

li {
    margin: 0 0 10px;
}

a,
a:visited {
    color: $orange;
}

a:hover,
a:active {

}

.large-text {
    text-transform: uppercase;
    font-size:22px;
    font-family: $tall-font;
}

.container-fluid {
    max-width:900px;
}

.dark-bg {
    background:$bg-dark;
}

.container-wrapper {
    background:$bg-light url(#{$images-path}/whitemetal.jpg);
    position: relative;
    z-index: 10;

    > .container-fluid {
        padding-top:35px;
//        padding-bottom:30px;
    }

    &.container-wrapper--dark {
        @extend .dark-bg;
        border-top:4px solid #666;
        color:$text-light;
    }

}



.bg {
    background:#000 url(#{$images-path}/orange-space.jpg) no-repeat top;
    background-size: cover;
    position: fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
    z-index: 0;
}

::selection {
    background: $alt-color; /* WebKit/Blink Browsers */
}
::-moz-selection {
    background: $alt-color; /* Gecko Browsers */
}

.page + .page {
    margin-top:40px;
}

/* ======================================================
Section titles
========================================================= */

.section-title {
    color:#4d4d4d;
    font-size:2em;
    text-align: center;
    margin:0;
    text-transform: uppercase;
    font-weight: bold;
    font-family: $tall-font;

    .container-wrapper--dark & {
        color:#fff;
    }

}

.sub-title {
    color:#999;
    text-align: center;
    text-transform: uppercase;
    border-bottom:7px solid #eaeaea;
    padding-bottom:10px;
    font-size:1.2em;
    font-family: $tall-font;

    .container-wrapper--dark & {
        border-color:transparentize(#fff,0.85);
    }
}

@media (min-width: $screen-sm-min) {
    .section-title {
        text-align: right;
    }

    .sub-title {
        text-align: right;
    }
}


/* ======================================================
Social sharing plugins
========================================================= */
.socialBtns {
    text-align:right;
    line-height: 1em;

    .socialBtn {
        display:inline;
        margin: 0 15px;
        line-height: 1em;
    }
}



/* ======================================================
Bootstrap overrides
========================================================= */



.img-responsive {
    width:100%;
}

/* ======================================================
Components
========================================================= */
@import "components/header";
@import "components/footer";
@import "components/forms";
@import "components/buttons";
@import "components/caption";
@import "components/animations";

/* ======================================================
Specific layouts
========================================================= */

@import "layouts/home";

