.joinBtn {
    color:$text-normal;
    display:inline-block;
    border-radius: 0;
    padding:10px 20px;
    font-size:150%;
    transition: color $transition-time, background $transition-time;
    text-decoration: none;

    &:hover,
    &:focus {
        background:$alt-color;
        color:$text-dark;
        text-decoration: none;
    }
}

.joinBtnWrapper {
    padding:2px;
    border: 2px solid $text-normal;
    display:inline-block;
}

@media (min-height: 660px) {
    .container-wrapper {
        font-size:120%;
    }
}

/* ======================================================
Ship
========================================================= */
.bd-ship {
    width:100%;
    height: auto;
    text-align: center;
    margin-left:-5%;
    max-width:750px;
    position: relative;
}

@media (min-width: $screen-sm-min) {
    .bd-ship {
        margin-top:-5%;
        z-index: 1;
    }
}

/* ======================================================
hero with ship inside
========================================================= */

.hero {
    height:150px;
    padding:0 20px;
    text-align: center;
    position: relative;
    transition: height $transition-time;
}

@media (min-width: $screen-sm-min) {

    .hero {
        height:400px;
    }
}

