

/* ======================================================
Ship
========================================================= */
.bd-ship {
    width:100%;
    height: auto;
    text-align: center;
    margin-left:-5%;
    max-width:750px;
    position: relative;

    &--hidden {
        opacity: 0;
    }
}


@media (min-width: $screen-sm-min) {
    .bd-ship {
        margin-top:-5%;
        z-index: 1;
    }
}

/* ======================================================
hero with ship inside
========================================================= */

.hero {
    height:150px;
    padding:0 20px;
    text-align: center;
    position: relative;
    transition: height $transition-time;
}

@media (min-width: $screen-sm-min) {

    .hero {
        height:400px;
    }
}

